body {
    font-family: Poppins, sans-serif;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    height: 70px;
    display: flex;
    align-items: center;
}

.airbnb-logo {
    width: 82px;
    height: 25px;
    margin-left: 30px;
}

.hero--section {
    display: flex;
    flex-direction: column;
}

.hero--heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 39px;
    margin-bottom: 10px;
}

.hero--info {
    margin-top: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}

.hero--section img {
    padding-top: 40px;
    width: 480px;
    height: 300px;
    align-self: center;
}

.card--image {
    width: 170px;
    height: 230px;
    padding-right: 25px;
}

.card--ratings {
    margin: 0;
    font-weight: 300;
    size: 13px;
    line-height: 13px;
}

.card--star {
    width: 15px;
    height: 15px;
}

.card {
    margin-top: 20px;
}

.card--description {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    color: #222222;
}

.card--price span {
    font-weight: 600;
    size: 13px;
    line-height: 13px;
}

.card--price {
    font-weight: 300;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
}

.image-label {
    width: 60px;
    border-radius: 2px;
    font-size: 13px;
    position: absolute;
    background: white;
    left: 5px;
    top: -5px;
    text-align: center;
}

.card--img-container {
    position: relative;
}

.cards-container {
    display: flex;
}
